.container {
    background-color: gray;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 3px solid blue;
    box-sizing: content-box;
    padding: 50px;
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 3px solid red;
    box-sizing: border-box;
}

.box3 {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 3px solid green;
    padding: 50px;
}

.text {
    width:200px;
    height: 50px;
    background-color: red;
}