* {
    box-sizing: border-box;
}

.box {
    height: 200px;
    background: blue;
    color: white;
    padding: 30px;
}

@media screen and (max-width: 600px) {
    .box {
        background: red;
    }
}

.container {
    display: flex;
    flex-direction: row;
}

.box1 {
    width: 20%;
    background: green;
    color: white;
    padding: 30px;
}

.box2 {
    width: 80%;
    background-color: orange;
    padding: 30px;
}

@media screen and (min-width: 601px){
    .container{
        flex-direction: column;
    }
    .box1{
        width: 100%;
    }
    .box2 {
        width: 100%;
    }
}