* {
    box-sizing: border-box;
}
.container {
    background: red;
    padding: 30px;
}

.contents {
    color: white;
}

.contents:after {
    content: "저는 PC입니다."
}

/* PC 기본 설정 */

@media screen and (max-width: 767px){
    /* mobile */
    .container{
        background: blue;
    }
    
    .container:after{
        content: "저는 mobile입니다."
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .container {
        background: green;
    }

    .container::after{
        content: "저는 Tablet입니다.";
    }
}