* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.wrapper {
    width: 620px;
    padding: 40px 30px;
    background-color: white;
    border-radius: 10px;
}

.wrapper__head {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed gray;
}

.wrapper__head__title {
    font-size: 32px;
    background-color: orange;
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.wrapper__head__sub-title {
    font-size: 18px;
    padding: 10px 0;
}

#point {
    color: orange;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 15px;
    display: block;
}

.wrapper__body {
    border: 1px solid #dddddd;
    padding: 20px 30px;
}

.diary-title {
    font-size: 18px;
    font-weight: 600;
    background-color: #f4f4f4;
    margin-bottom: 20px;
}

.highlight {
    font-size: 18px;
    color: blue;
    font-weight: 700;
    font-style: italic;
}

.diary-date {
    color: #919191;
    font-size: 14px;
    text-align: right;
}

.header {
    border-bottom: 1px solid gray;
}

.header-inner {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 100px;
    padding-top: 5px;
}

.logo h1 a {
    text-decoration: none;
    color: orange;
}

.menu {
    float: left;
    /* calc앞뒤로는 공백 필수*/
    width: calc(100% - 200px);
    text-align: center;
}

.menu__ul {
    /* background: red; */
    /* inline처럼 text-align가능 */
    display: inline-block;
}

.menu__ul li {
    float: left;
    list-style: none;
}

.menu__ul li a {
    color:black;
    text-decoration: none;
    /* inline요소의 경우 위 아래는 주변 영향을 많이 받아
       거의 적용이 안 된다고 보면 됨. */
       display: block;
    padding: 15px 20px;
}

.menu__ul li a:hover {
    color: orange;
}

.user {
    float: left;
    width: 100px;
    padding-top: 12px;
}

.clearfix {
    clear: both;
}