.block-container {
    border: 3px solid blue;
}

.inline-container {
    border: 3px solid red;
}

.block-container div {
    border: 3px solid green;
    width: 400px;
    display: inline;
}

.inline-container span {
    background-color: red;
    width: 400px;
    display: block;
}