* {
    box-sizing: border-box;
}

.container h1:first-child {
    background: red;
}

.container p:first-of-type {
    background: blue;
}

.container p:last-of-type {
    background: yellow;
}

.container p:nth-of-type(2) {
    background: green;
}

.container span:first-of-type {
    font-weight: 600;
    text-decoration: underline;
}